body {
  font-family: "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.card {
  border: 1px solid #eee;
  width: 75px;
  height: 100px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  margin: 12px;
}

.card span {
  padding: 12px;
}

.suit, .name {
  display: none;
}

.show {
  display: block !important;
}
